{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
	<div class="global-actions">
		{% for action in field.formTypeOptions.globalActions %}
			{% if action.shouldBeDisplayedFor(entity) %}
				{{ include(action.templatePath, { action: action }, with_context = false) }}
			{% endif %}
		{% endfor %}
	</div>
	{% set sort_field_name = app.request.get('sort')|keys|first %}
	{% set table_id_random = random()%}
	{% if field.formTypeOptions.onlyGlobalActions is not defined %}
		<table id="table-{{ field.property }}-{{ table_id_random }}" class="table datagrid with-rounded-top">
			<thead>
				{% block sub_table_head %}
					<tr>
						{% set ea_sort_asc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::ASC') %}
						{% set ea_sort_desc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::DESC') %}
						{% for field in field.formTypeOptions.entitiesCollection|first.fields ?? [] %}
							{% set is_sorting_field = ea.search.isSortingField(field.property) %}
							{% set next_sort_direction = is_sorting_field ? (ea.search.sortDirection(field.property) == ea_sort_desc ? ea_sort_asc : ea_sort_desc) : ea_sort_desc %}
							{% set column_icon = is_sorting_field ? (next_sort_direction == ea_sort_desc ? 'fa-arrow-up' : 'fa-arrow-down') : 'fa-sort' %}

							<th class="{{ is_sorting_field ? 'sorted' }} {{ field.isVirtual ? 'field-virtual' }} text-{{ field.textAlign }}" dir="{{ ea.i18n.textDirection }}">
								{% if field.isSortable %}
									<a href="{{ ea_url({ page: 1, sort: { (field.property): next_sort_direction } }).includeReferrer() }}">
										{{ field.label|raw }}
										<i class="fa fa-fw {{ column_icon }}"></i>
									</a>
								{% else %}
									<span>{{ field.label|raw }}</span>
								{% endif %}
							</th>
						{% endfor %}

						<th {% if ea.crud.showEntityActionsAsDropdown %} width="10px" {% endif %} dir="{{ ea.i18n.textDirection }}">
							<span class="sr-only">{{ 'action.entity_actions'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}</span>
						</th>
					</tr>
				{% endblock sub_table_head %}
			</thead>
			<tbody>
				{% for subEntity in field.formTypeOptions.entitiesCollection %}
					<tr data-id="{{ subEntity.primaryKeyValueAsString }}">
						{% for field in subEntity.fields %}
							<td class="{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
								{{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
							</td>
						{% endfor %}

						{% block sub_entity_actions %}
							<td class="actions">
								{% if not ea.crud.showEntityActionsAsDropdown %}
									{% for action in subEntity.actions %}
										{% do action.setLinkUrl(action.linkUrl ~ '&subEntityId=' ~ subEntity.primaryKeyValueAsString) %}
										{{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
									{% endfor %}
								{% else %}
									{% if subEntity.actions.count > 0 %}
										<div class="dropdown dropdown-actions">
											<a class="dropdown-toggle btn btn-secondary btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-fw fa-ellipsis-h"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												{% for action in subEntity.actions %}
													{% do action.setLinkUrl(action.linkUrl | split('&entityId=') | join('&entityId=' ~ entity.primaryKeyValueAsString ~ '&subEntityId=')) %}
													{{ include(action.templatePath, { action: action, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
												{% endfor %}
											</div>
										</div>
									{% endif %}
								{% endif %}
							</td>
						{% endblock sub_entity_actions %}
					</tr>
				{% else %}
					<tr>
						<td class="no-results" colspan="100">
							{{ 'datagrid.no_results'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	{# {% include 'common/_confirm_action_modal.html.twig' with { selector: '#table-' ~ field.property ~ '-' ~ table_id_random ~ ' .action-remove', title: field.formTypeOptions.modalDeleteTitle | trans([], 'EasyAdminBundle'), message: field.formTypeOptions.modalDeleteContent | trans([], 'EasyAdminBundle') } %} #}
{% endif %}
